[Unit]
Description=Start tmux in detached session

[Service]
Type=forking
ExecStart=/usr/bin/tmux -2 new-session -s %u -d
ExecStop=/usr/bin/tmux kill-session -t %u
RemainAfterExit=no
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=default.target
