<?xml version="1.0"?>
<XMLDoc>
  <GameSetup>
    <ai-aggression>BEGINNER</ai-aggression>
    <ai-players>0</ai-players>
    <empire-color>9</empire-color>
    <empire-name>Terran Imperium</empire-name>
    <galaxy-age>GALAXY_SETUP_MEDIUM</galaxy-age>
    <galaxy-shape>DISC</galaxy-shape>
    <monster-frequency>GALAXY_SETUP_LOW</monster-frequency>
    <native-frequency>GALAXY_SETUP_MEDIUM</native-frequency>
    <planet-density>GALAXY_SETUP_MEDIUM</planet-density>
    <player-name>Human_Player</player-name>
    <seed>0</seed>
    <specials-frequency>GALAXY_SETUP_MEDIUM</specials-frequency>
    <starlane-frequency>GALAXY_SETUP_MEDIUM</starlane-frequency>
    <stars>150</stars>
    <starting-species>SP_HUMAN</starting-species>
  </GameSetup>
  <UI>
    <auto-reposition-windows>1</auto-reposition-windows>
    <combat>
      <summary>
        <dead-color>(128,0,0,255)</dead-color>
        <graph>
          <bar_health_smooth>1</bar_health_smooth>
          <bar_height_proportional>0</bar_height_proportional>
          <bar_width_proportional>1</bar_width_proportional>
          <graph_height_proportional>0</graph_height_proportional>
        </graph>
        <health-color>(0,255,0,255)</health-color>
        <wound-color>(255,0,0,255)</wound-color>
      </summary>
    </combat>
    <ctrl-border-color>(124,124,124,255)</ctrl-border-color>
    <ctrl-color>(15,15,15,255)</ctrl-color>
    <default-link-color>(80,255,128,255)</default-link-color>
    <design-pedia-dynamic>0</design-pedia-dynamic>
    <detection-range-opacity>3</detection-range-opacity>
    <dropdownlist-arrow-color>(130,130,0,255)</dropdownlist-arrow-color>
    <dump-effects-descriptions>0</dump-effects-descriptions>
    <edit-hilite>(43,81,102,255)</edit-hilite>
    <fleet-selection-indicator-size>1.625</fleet-selection-indicator-size>
    <fleet-supply-line-dot-rate>0.02</fleet-supply-line-dot-rate>
    <fleet-supply-line-dot-spacing>20</fleet-supply-line-dot-spacing>
    <fleet-supply-line-width>3</fleet-supply-line-width>
    <fleet-supply-lines>1</fleet-supply-lines>
    <fleet-wnd-aggression>INVALID_FLEET_AGGRESSION</fleet-wnd-aggression>
    <font>/usr/share/freeorion/default/data/fonts/Roboto-Regular.ttf</font>
    <font-bold>/usr/share/freeorion/default/data/fonts/Roboto-Bold.ttf</font-bold>
    <font-size>15</font-size>
    <galaxy-gas-background>1</galaxy-gas-background>
    <galaxy-starfields>1</galaxy-starfields>
    <hide-map-panels>0</hide-map-panels>
    <hotkeys>
      <copy>MOD_KEY_LCTRL | MOD_KEY_RCTRL+GGK_c</copy>
      <cut>MOD_KEY_LCTRL | MOD_KEY_RCTRL+GGK_x</cut>
      <deselect>MOD_KEY_LCTRL | MOD_KEY_RCTRL+GGK_d</deselect>
      <exit/>
      <focus_next_wnd>GGK_TAB</focus_next_wnd>
      <focus_prev_wnd>MOD_KEY_LSHIFT | MOD_KEY_RSHIFT+GGK_TAB</focus_prev_wnd>
      <fullscreen>MOD_KEY_LALT | MOD_KEY_RALT+GGK_RETURN</fullscreen>
      <map>
        <design>MOD_KEY_LCTRL | MOD_KEY_RCTRL+GGK_d</design>
        <empires>MOD_KEY_LCTRL | MOD_KEY_RCTRL+GGK_e</empires>
        <end_turn>MOD_KEY_LCTRL | MOD_KEY_RCTRL+GGK_RETURN</end_turn>
        <graphs/>
        <menu>GGK_F10</menu>
        <messages>MOD_KEY_LALT | MOD_KEY_RALT+GGK_t</messages>
        <objects>MOD_KEY_LCTRL | MOD_KEY_RCTRL+GGK_o</objects>
        <open_chat>MOD_KEY_LCTRL | MOD_KEY_RCTRL+GGK_t</open_chat>
        <pan_down>MOD_KEY_LCTRL | MOD_KEY_RCTRL+GGK_DOWN</pan_down>
        <pan_left>MOD_KEY_LCTRL | MOD_KEY_RCTRL+GGK_LEFT</pan_left>
        <pan_right>MOD_KEY_LCTRL | MOD_KEY_RCTRL+GGK_RIGHT</pan_right>
        <pan_up>MOD_KEY_LCTRL | MOD_KEY_RCTRL+GGK_UP</pan_up>
        <pedia>GGK_F1</pedia>
        <production>MOD_KEY_LCTRL | MOD_KEY_RCTRL+GGK_p</production>
        <research>MOD_KEY_LCTRL | MOD_KEY_RCTRL+GGK_r</research>
        <return_to_map>GGK_ESCAPE</return_to_map>
        <sit_rep>MOD_KEY_LCTRL | MOD_KEY_RCTRL+GGK_n</sit_rep>
        <toggle_scale_circle>MOD_KEY_LALT | MOD_KEY_RALT+GGK_c</toggle_scale_circle>
        <toggle_scale_line>MOD_KEY_LALT | MOD_KEY_RALT+GGK_l</toggle_scale_line>
        <zoom_home_system>MOD_KEY_LCTRL | MOD_KEY_RCTRL+GGK_h</zoom_home_system>
        <zoom_in>MOD_KEY_LCTRL | MOD_KEY_RCTRL+GGK_z</zoom_in>
        <zoom_in_alt>MOD_KEY_LCTRL | MOD_KEY_RCTRL+GGK_KP_PLUS</zoom_in_alt>
        <zoom_next_fleet>MOD_KEY_LCTRL | MOD_KEY_RCTRL+GGK_g</zoom_next_fleet>
        <zoom_next_idle_fleet>MOD_KEY_LALT | MOD_KEY_RALT+GGK_g</zoom_next_idle_fleet>
        <zoom_next_system>MOD_KEY_LCTRL | MOD_KEY_RCTRL+GGK_GREATER</zoom_next_system>
        <zoom_out>MOD_KEY_LCTRL | MOD_KEY_RCTRL+GGK_x</zoom_out>
        <zoom_out_alt>MOD_KEY_LCTRL | MOD_KEY_RCTRL+GGK_KP_MINUS</zoom_out_alt>
        <zoom_prev_fleet>MOD_KEY_LCTRL | MOD_KEY_RCTRL+GGK_f</zoom_prev_fleet>
        <zoom_prev_idle_fleet>MOD_KEY_LALT | MOD_KEY_RALT+GGK_f</zoom_prev_idle_fleet>
        <zoom_prev_system>MOD_KEY_LCTRL | MOD_KEY_RCTRL+GGK_LESS</zoom_prev_system>
      </map>
      <paste>MOD_KEY_LCTRL | MOD_KEY_RCTRL+GGK_v</paste>
      <quit/>
      <select_all>MOD_KEY_LCTRL | MOD_KEY_RCTRL+GGK_a</select_all>
    </hotkeys>
    <keypress-repeat-delay>360</keypress-repeat-delay>
    <keypress-repeat-interval>20</keypress-repeat-interval>
    <known-tech>(72,72,72,255)</known-tech>
    <known-tech-border>(164,164,164,255)</known-tech-border>
    <main-menu>
      <x>0.75</x>
      <y>0.5</y>
    </main-menu>
    <map-right-click-popup-menu>0</map-right-click-popup-menu>
    <medium-fleet-button-minimum-zoom>4</medium-fleet-button-minimum-zoom>
    <mouse-click-repeat-delay>360</mouse-click-repeat-delay>
    <mouse-click-repeat-interval>15</mouse-click-repeat-interval>
    <multiple-fleet-windows>0</multiple-fleet-windows>
    <objects-list-info-col-0>NAME</objects-list-info-col-0>
    <objects-list-info-col-1>ID</objects-list-info-col-1>
    <objects-list-info-col-10/>
    <objects-list-info-col-11/>
    <objects-list-info-col-2>OBJECT_TYPE</objects-list-info-col-2>
    <objects-list-info-col-3>OWNER</objects-list-info-col-3>
    <objects-list-info-col-4>SPECIES</objects-list-info-col-4>
    <objects-list-info-col-5>PLANET_TYPE</objects-list-info-col-5>
    <objects-list-info-col-6>SIZE_AS_DOUBLE</objects-list-info-col-6>
    <objects-list-info-col-7/>
    <objects-list-info-col-8/>
    <objects-list-info-col-9/>
    <objects-list-width-col-0>144</objects-list-width-col-0>
    <objects-list-width-col-1>48</objects-list-width-col-1>
    <objects-list-width-col-10>96</objects-list-width-col-10>
    <objects-list-width-col-11>96</objects-list-width-col-11>
    <objects-list-width-col-2>60</objects-list-width-col-2>
    <objects-list-width-col-3>120</objects-list-width-col-3>
    <objects-list-width-col-4>96</objects-list-width-col-4>
    <objects-list-width-col-5>96</objects-list-width-col-5>
    <objects-list-width-col-6>96</objects-list-width-col-6>
    <objects-list-width-col-7>96</objects-list-width-col-7>
    <objects-list-width-col-8>96</objects-list-width-col-8>
    <objects-list-width-col-9>96</objects-list-width-col-9>
    <queue-width>350</queue-width>
    <researchable-tech>(48,48,48,255)</researchable-tech>
    <researchable-tech-border>(164,164,164,255)</researchable-tech-border>
    <resource-starlane-colouring>1</resource-starlane-colouring>
    <rollover-link-color>(192,80,255,255)</rollover-link-color>
    <save-file-dialog>
      <columns>time,turn,player,empire,file</columns>
      <default>
        <stretch>1</stretch>
      </default>
      <empire>
        <stretch>1</stretch>
      </empire>
      <file>
        <stretch>2</stretch>
      </file>
      <galaxy_size>
        <wide-as>9999</wide-as>
      </galaxy_size>
      <player>
        <stretch>1</stretch>
      </player>
      <seed>
        <stretch>0.75</stretch>
      </seed>
      <time>
        <wide-as>YYYY-MM-DD</wide-as>
      </time>
      <tooltip-delay>800</tooltip-delay>
      <turn>
        <wide-as>9999</wide-as>
      </turn>
    </save-file-dialog>
    <scroll-width>14</scroll-width>
    <show-detection-range>1</show-detection-range>
    <show-fleet-eta>1</show-fleet-eta>
    <show-galaxy-map-scale>1</show-galaxy-map-scale>
    <show-galaxy-map-scale-circle>0</show-galaxy-map-scale-circle>
    <show-galaxy-map-zoom-slider>0</show-galaxy-map-zoom-slider>
    <show-production-location-on-queue>1</show-production-location-on-queue>
    <show-unexplored_system_overlay>1</show-unexplored_system_overlay>
    <sidepanel-planet-max-diameter>128</sidepanel-planet-max-diameter>
    <sidepanel-planet-min-diameter>24</sidepanel-planet-min-diameter>
    <sidepanel-planet-shown>1</sidepanel-planet-shown>
    <sidepanel-width>512</sidepanel-width>
    <sitrep-icon-size>24</sitrep-icon-size>
    <small-fleet-button-minimum-zoom>1.5</small-fleet-button-minimum-zoom>
    <sound>
      <alert>/usr/share/freeorion/default/data/sound/alert.ogg</alert>
      <bg-music>/usr/share/freeorion/default/data/sound/artificial_intelligence_v3.ogg</bg-music>
      <button-click>/usr/share/freeorion/default/data/sound/button_click.ogg</button-click>
      <button-rollover>/usr/share/freeorion/default/data/sound/button_rollover.ogg</button-rollover>
      <enabled>1</enabled>
      <fleet-button-click>/usr/share/freeorion/default/data/sound/fleet_button_click.ogg</fleet-button-click>
      <fleet-button-rollover>/usr/share/freeorion/default/data/sound/fleet_button_rollover.ogg</fleet-button-rollover>
      <item-drop>/usr/share/freeorion/default/data/sound/list_select.ogg</item-drop>
      <list-pulldown>/usr/share/freeorion/default/data/sound/list_pulldown.ogg</list-pulldown>
      <list-select>/usr/share/freeorion/default/data/sound/list_select.ogg</list-select>
      <music-enabled>1</music-enabled>
      <music-volume>127</music-volume>
      <planet-button-click>/usr/share/freeorion/default/data/sound/button_click.ogg</planet-button-click>
      <sidepanel-open>/usr/share/freeorion/default/data/sound/sidepanel_open.ogg</sidepanel-open>
      <system-icon-rollover>/usr/share/freeorion/default/data/sound/fleet_button_rollover.ogg</system-icon-rollover>
      <text-typing>/usr/share/freeorion/default/data/sound/text_typing.ogg</text-typing>
      <turn-button-click>/usr/share/freeorion/default/data/sound/turn_button_click.ogg</turn-button-click>
      <volume>255</volume>
      <window-close>/usr/share/freeorion/default/data/sound/window_close.ogg</window-close>
      <window-maximize>/usr/share/freeorion/default/data/sound/window_maximize.ogg</window-maximize>
      <window-minimize>/usr/share/freeorion/default/data/sound/window_minimize.ogg</window-minimize>
    </sound>
    <starlane-core-multiplier>4</starlane-core-multiplier>
    <starlane-thickness>2</starlane-thickness>
    <stat-decrease-color>(255,0,0,255)</stat-decrease-color>
    <stat-increase-color>(0,255,0,255)</stat-increase-color>
    <state-button-color>(0,127,0,255)</state-button-color>
    <swap-mouse-lr>0</swap-mouse-lr>
    <system-circle-size>1</system-circle-size>
    <system-circles>1</system-circles>
    <system-fog-of-war>1</system-fog-of-war>
    <system-fog-of-war-spacing>4</system-fog-of-war-spacing>
    <system-icon-size>14</system-icon-size>
    <system-name-unowned-color>(160,160,160,255)</system-name-unowned-color>
    <system-selection-indicator-rpm>12</system-selection-indicator-rpm>
    <system-selection-indicator-size>1.625</system-selection-indicator-size>
    <system-tiny-icon-size-threshold>10</system-tiny-icon-size-threshold>
    <tech-controls-graphic-size>3</tech-controls-graphic-size>
    <tech-layout-horz-spacing>0.25</tech-layout-horz-spacing>
    <tech-layout-vert-spacing>0.75</tech-layout-vert-spacing>
    <tech-layout-zoom-scale>-9</tech-layout-zoom-scale>
    <tech-progress>(40,40,40,255)</tech-progress>
    <tech-progress-background>(72,72,72,255)</tech-progress-background>
    <text-color>(255,255,255,255)</text-color>
    <tiny-fleet-button-minimum-zoom>0.75</tiny-fleet-button-minimum-zoom>
    <title-font>/usr/share/freeorion/default/data/fonts/Roboto-Regular.ttf</title-font>
    <title-font-size>16</title-font-size>
    <tooltip-delay>500</tooltip-delay>
    <unowned-starlane-colour>(72,72,72,255)</unowned-starlane-colour>
    <unresearchable-tech>(30,30,30,255)</unresearchable-tech>
    <unresearchable-tech-border>(86,86,86,255)</unresearchable-tech-border>
    <window-quickclose>0</window-quickclose>
    <windows>
      <design>
        <base-selector>
          <height>1</height>
          <height-windowed>726</height-windowed>
          <left>-2147483648</left>
          <left-windowed>0</left-windowed>
          <minimized>0</minimized>
          <pinned>0</pinned>
          <top>-2147483648</top>
          <top-windowed>0</top-windowed>
          <visible>0</visible>
          <width>1</width>
          <width-windowed>250</width-windowed>
        </base-selector>
        <main-panel>
          <height>1</height>
          <height-windowed>436</height-windowed>
          <left>-2147483648</left>
          <left-windowed>250</left-windowed>
          <minimized>0</minimized>
          <pinned>0</pinned>
          <top>-2147483648</top>
          <top-windowed>290</top-windowed>
          <visible>0</visible>
          <width>1</width>
          <width-windowed>774</width-windowed>
        </main-panel>
        <part-palette>
          <height>1</height>
          <height-windowed>290</height-windowed>
          <left>-2147483648</left>
          <left-windowed>601</left-windowed>
          <minimized>0</minimized>
          <pinned>0</pinned>
          <top>-2147483648</top>
          <top-windowed>0</top-windowed>
          <visible>0</visible>
          <width>1</width>
          <width-windowed>423</width-windowed>
        </part-palette>
        <pedia>
          <height>1</height>
          <height-windowed>290</height-windowed>
          <left>-2147483648</left>
          <left-windowed>250</left-windowed>
          <minimized>0</minimized>
          <pinned>0</pinned>
          <top>-2147483648</top>
          <top-windowed>0</top-windowed>
          <visible>0</visible>
          <width>1</width>
          <width-windowed>351</width-windowed>
        </pedia>
      </design>
      <map>
        <combat-report>
          <height>1</height>
          <height-windowed>300</height-windowed>
          <left>-2147483648</left>
          <left-windowed>150</left-windowed>
          <minimized>0</minimized>
          <pinned>0</pinned>
          <top>-2147483648</top>
          <top-windowed>50</top-windowed>
          <visible>0</visible>
          <width>1</width>
          <width-windowed>400</width-windowed>
        </combat-report>
        <messages>
          <height>1</height>
          <height-windowed>160</height-windowed>
          <left>-2147483648</left>
          <left-windowed>0</left-windowed>
          <minimized>0</minimized>
          <pinned>0</pinned>
          <top>-2147483648</top>
          <top-windowed>608</top-windowed>
          <visible>1</visible>
          <width>1</width>
          <width-windowed>345</width-windowed>
        </messages>
        <moderator>
          <height>1</height>
          <height-windowed>200</height-windowed>
          <left>-2147483648</left>
          <left-windowed>0</left-windowed>
          <minimized>0</minimized>
          <pinned>0</pinned>
          <top>-2147483648</top>
          <top-windowed>72</top-windowed>
          <visible>0</visible>
          <width>1</width>
          <width-windowed>400</width-windowed>
        </moderator>
        <object-list>
          <height>1</height>
          <height-windowed>200</height-windowed>
          <left>-2147483648</left>
          <left-windowed>0</left-windowed>
          <minimized>0</minimized>
          <pinned>0</pinned>
          <top>-2147483648</top>
          <top-windowed>72</top-windowed>
          <visible>0</visible>
          <width>1</width>
          <width-windowed>400</width-windowed>
        </object-list>
        <pedia>
          <height>1</height>
          <height-windowed>200</height-windowed>
          <left>-2147483648</left>
          <left-windowed>245</left-windowed>
          <minimized>0</minimized>
          <pinned>0</pinned>
          <top>-2147483648</top>
          <top-windowed>242</top-windowed>
          <visible>0</visible>
          <width>1</width>
          <width-windowed>400</width-windowed>
        </pedia>
        <player-list>
          <height>1</height>
          <height-windowed>160</height-windowed>
          <left>-2147483648</left>
          <left-windowed>345</left-windowed>
          <minimized>0</minimized>
          <pinned>0</pinned>
          <top>-2147483648</top>
          <top-windowed>608</top-windowed>
          <visible>1</visible>
          <width>1</width>
          <width-windowed>445</width-windowed>
        </player-list>
        <sidepanel>
          <height>1</height>
          <height-windowed>726</height-windowed>
          <left>-2147483648</left>
          <left-windowed>512</left-windowed>
          <minimized>0</minimized>
          <pinned>0</pinned>
          <top>-2147483648</top>
          <top-windowed>42</top-windowed>
          <visible>0</visible>
          <width>1</width>
          <width-windowed>512</width-windowed>
        </sidepanel>
        <sitrep>
          <height>1</height>
          <height-windowed>200</height-windowed>
          <left>-2147483648</left>
          <left-windowed>245</left-windowed>
          <minimized>0</minimized>
          <pinned>0</pinned>
          <top>-2147483648</top>
          <top-windowed>42</top-windowed>
          <visible>0</visible>
          <width>1</width>
          <width-windowed>400</width-windowed>
        </sitrep>
      </map>
      <options>
        <height>1</height>
        <height-windowed>1</height-windowed>
        <left>-2147483648</left>
        <left-windowed>-2147483648</left-windowed>
        <minimized>0</minimized>
        <pinned>0</pinned>
        <top>-2147483648</top>
        <top-windowed>-2147483648</top-windowed>
        <visible>1</visible>
        <width>1</width>
        <width-windowed>1</width-windowed>
      </options>
      <production>
        <InfoPanel>
          <height>120</height>
          <height-windowed>120</height-windowed>
          <left>0</left>
          <left-windowed>0</left-windowed>
          <minimized>0</minimized>
          <pinned>0</pinned>
          <top>0</top>
          <top-windowed>0</top-windowed>
          <visible>1</visible>
          <width>350</width>
          <width-windowed>350</width-windowed>
        </InfoPanel>
        <ProductionQueueWnd>
          <height>606</height>
          <height-windowed>606</height-windowed>
          <left>0</left>
          <left-windowed>0</left-windowed>
          <minimized>0</minimized>
          <pinned>0</pinned>
          <top>120</top>
          <top-windowed>120</top-windowed>
          <visible>1</visible>
          <width>350</width>
          <width-windowed>350</width-windowed>
        </ProductionQueueWnd>
        <pedia>
          <height>1</height>
          <height-windowed>240</height-windowed>
          <left>-2147483648</left>
          <left-windowed>350</left-windowed>
          <minimized>0</minimized>
          <persistently-hidden>0</persistently-hidden>
          <pinned>0</pinned>
          <top>-2147483648</top>
          <top-windowed>0</top-windowed>
          <visible>1</visible>
          <width>1</width>
          <width-windowed>162</width-windowed>
        </pedia>
        <selector>
          <height>1</height>
          <height-windowed>234</height-windowed>
          <left>-2147483648</left>
          <left-windowed>405</left-windowed>
          <minimized>0</minimized>
          <pinned>0</pinned>
          <top>-2147483648</top>
          <top-windowed>449</top-windowed>
          <visible>1</visible>
          <width>1</width>
          <width-windowed>327</width-windowed>
        </selector>
        <sidepanel>
          <height>1</height>
          <height-windowed>726</height-windowed>
          <left>-2147483648</left>
          <left-windowed>512</left-windowed>
          <minimized>0</minimized>
          <pinned>0</pinned>
          <top>-2147483648</top>
          <top-windowed>0</top-windowed>
          <visible>1</visible>
          <width>1</width>
          <width-windowed>512</width-windowed>
        </sidepanel>
      </production>
      <research>
        <InfoPanel>
          <height>100</height>
          <height-windowed>119</height-windowed>
          <left>0</left>
          <left-windowed>0</left-windowed>
          <minimized>0</minimized>
          <pinned>0</pinned>
          <top>0</top>
          <top-windowed>0</top-windowed>
          <visible>0</visible>
          <width>350</width>
          <width-windowed>350</width-windowed>
        </InfoPanel>
        <ResearchQueueWnd>
          <height>626</height>
          <height-windowed>603</height-windowed>
          <left>0</left>
          <left-windowed>2</left-windowed>
          <minimized>0</minimized>
          <pinned>0</pinned>
          <top>100</top>
          <top-windowed>119</top-windowed>
          <visible>0</visible>
          <width>350</width>
          <width-windowed>346</width-windowed>
        </ResearchQueueWnd>
        <pedia>
          <height>1</height>
          <height-windowed>240</height-windowed>
          <left>-2147483648</left>
          <left-windowed>0</left-windowed>
          <minimized>0</minimized>
          <persistently-hidden>1</persistently-hidden>
          <pinned>0</pinned>
          <top>-2147483648</top>
          <top-windowed>0</top-windowed>
          <visible>0</visible>
          <width>1</width>
          <width-windowed>480</width-windowed>
        </pedia>
        <tech-controls>
          <height>1</height>
          <height-windowed>172</height-windowed>
          <left>-2147483648</left>
          <left-windowed>1</left-windowed>
          <minimized>0</minimized>
          <pinned>0</pinned>
          <top>-2147483648</top>
          <top-windowed>540</top-windowed>
          <visible>0</visible>
          <width>1</width>
          <width-windowed>390</width-windowed>
        </tech-controls>
      </research>
    </windows>
    <wnd-color>(35,35,35,240)</wnd-color>
    <wnd-inner-border-color>(192,192,192,255)</wnd-inner-border-color>
    <wnd-outer-border-color>(64,64,64,255)</wnd-outer-border-color>
  </UI>
  <app-height>768</app-height>
  <app-height-windowed>768</app-height-windowed>
  <app-left-windowed>176</app-left-windowed>
  <app-top-windowed>-22</app-top-windowed>
  <app-width>1024</app-width>
  <app-width-windowed>1024</app-width-windowed>
  <auto-add-saved-designs>1</auto-add-saved-designs>
  <autosave>
    <limit>10</limit>
    <multiplayer>1</multiplayer>
    <single-player>1</single-player>
    <turns>1</turns>
  </autosave>
  <binary-serialization>0</binary-serialization>
  <checked-gl-version>1</checked-gl-version>
  <color-depth>24</color-depth>
  <effect-accounting>1</effect-accounting>
  <effects-threads-ai>2</effects-threads-ai>
  <effects-threads-server>8</effects-threads-server>
  <effects-threads-ui>8</effects-threads-ui>
  <external-server-address>localhost</external-server-address>
  <fake-mode-change>1</fake-mode-change>
  <fullscreen-monitor-id>0</fullscreen-monitor-id>
  <hidden-sitrep-templates/>
  <limit-fps>1</limit-fps>
  <limit-fps-no-focus>1</limit-fps-no-focus>
  <log-level>DEBUG</log-level>
  <max-fps>60</max-fps>
  <max-fps-no_focus>15</max-fps-no_focus>
  <multiplayersetup>
    <host-address>localhost</host-address>
    <player-name>Human_Player</player-name>
  </multiplayersetup>
  <network>
    <discovery-port>12345</discovery-port>
    <message-port>12346</message-port>
  </network>
  <reset-fullscreen-size>1</reset-fullscreen-size>
  <resource-dir>/usr/share/freeorion/default</resource-dir>
  <save-dir>/home/egor/.local/share/freeorion/save</save-dir>
  <show-fps>0</show-fps>
  <stringtable-filename>/usr/share/freeorion/default/stringtables/en.txt</stringtable-filename>
  <verbose-combat-logging>0</verbose-combat-logging>
  <verbose-logging>0</verbose-logging>
  <verbose-sitrep>0</verbose-sitrep>
  <version-string>v0.4.6 [build 2016-09-16.49f9123] CMake</version-string>
</XMLDoc>
