/.config/chromium/
/.config/Elfiny/
/.config/Epic/
/.config/Kitware/
/.config/QtProject/
/.config/QtProject_/
/.config/VirtualBox/
/.config/audacious/
/.config/calibre/
/.config/evolution/
/.config/libreoffice/
/.config/filezilla/
/.config/enchant/
/.config/gummi/
/.config/hmcl/
/.config/inkscape/
/.config/pulse/
/.config/poedit/
/.config/openttd/
/.config/ownCloud/
/.config/tox/
/.config/transmission/
/.config/unity3d/
/.config/openmw/
/.config/Nextcloud/
/.config/MTK/
/.config/teamviewer/
/.config/vlc/
/.config/sqlitebrowser/
/.config/spacefm/
/.config/dconf/
/.config/evince/
/.config/mc/hotlist
/.config/Trolltech.conf
/.config/QtProject.conf
/.config/Qt/Qt Apps.conf
/.config/guvcview2
/.config/qgit/qgit4.conf
/.config/qt5ct/qt5ct.conf
