[Desktop Entry]
GenericName[tr]=Renk sıcaklığı ayarı
Name[it]=Redshift
Name[zh_CN]=红移
Name[ru]=Redshift
Name[fr]=Redshift
Name[tr]=Redshift
GenericName[ru]=Настройка цветовой температуры
Name[de]=Redshift
Type=Application
Name=Redshift
Comment[zh_CN]=色温调节工具
Name[es]=Redshift
Exec=redshift-gtk
GenericName[hu]=Szín hőmérséklet beállítás
Comment[lt]=Spalvos temperatūros reguliavimo įrankis
GenericName=Color temperature adjustment
Comment[fr]=Outil de réglage de la température de couleur
Name[pl]=Redshift
Version=1.0
Comment[it]=Strumento per la regolazione della temperatura del colore
GenericName[it]=Regolazione della temperatura del colore
Name[hu]=Redshift
Comment[nl]=Kleurtemperatuur aanpassingsprogramma
Comment[da]=Justeringsværktøj for farvetemperatur
Comment[de]=Farbtemperatur Anpassungswerkzeug
GenericName[da]=Justering af farvetemperatur
Name[pt_BR]=Redshift
Comment[cs]=Nástroj pro přizpůsobení barevné teploty
GenericName[pl]=Dostosowanie temperatury barwowej
Hidden=true
GenericName[nl]=Kleurtemperatuur aanpassing
GenericName[lt]=Spalvos temperatūros reguliavimas
X-GNOME-Autostart-enabled=false
GenericName[de]=Farbtemperatur Anpassung
StartupNotify=true
Name[lt]=Redshift
GenericName[cs]=Přizpůsobení barevné teploty
Terminal=false
GenericName[zh_CN]=色温调节
Comment[tr]=Renk sıcaklığı ayarlama aracı
Comment[pl]=Narzędzie do dostosowywania temperatury barwowej
Comment[es]=Herramienta para el ajuste de la temperatura de color
Comment[hu]=Színhőmérséklet beállító eszköz
Comment[ru]=Инструмент регулирования цветовой температуры
Icon=redshift
Comment=Color temperature adjustment tool
GenericName[fr]=Réglage de la température de couleur
GenericName[es]=Ajuste de la temperatura de color
Categories=Utility;

