[Desktop Entry]
Type=Application
Exec=/home/egor/.start-conky
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=start-conky.desktop
Name=conky
Comment[en_US]=Conky setup by Noobslab.com
Comment=Conky setup by Noobslab.com
NotShowIn=LXDE;
