[mailwatch-plugin]
click_command=
new_messages_command=
normal_icon=xfce-nomail
new_mail_icon=xfce-newmail
log_lines=200
show_log_status=true
auto_open_online_doc=false

[mailwatch]
nmailboxes=1
mailbox0=imap
mailbox_name0=Elfiny

[mailbox0]
host=elfiny.top
username=egor
auth_type=2
server_directory=
use_standard_port=1
nonstandard_port=0
timeout=600
n_newmail_boxes=1
newmail_box_0=INBOX

