[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/egor/ibx/Telegram Desktop]
row=2
col=0

[/home/egor/ibx/openvpn]
row=1
col=0

[977ecfa0-b221-4948-8e17-66d437c70f7c]
row=0
col=0

[10f78362fb0e4fbe2177dc2e2ca970a2304ca01d]
row=3
col=0

